<main role="main" class="container mx-auto box-border h-screen pt-24">
  <p class="bg-blue-200 rounded alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="bg-red-200 rounded alert alert-error" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
